In [4]:
Q1 = ('Data Science for all!')
def Q2():
  for y in Q1:
    print(y)
  return


def Q3():
  for f in Q1:
    print("A")

Q4 = ["DTSC 520", "DTSC 550", "DTSC 575", "DTSC 600", "DTSC 650"]
def Q5():
  for t in Q4:
      print(t)
  return


def Q6():
  number1 = 2
  while (number1 < 50):
    print(number1)
    number1 *= 2
  return

Q7=[2,3,5,7,11,13,17,19,23,29]
def  Q8():
    k = 0
    for i in Q7: 
        k = k + i
    return (k) 


def Q9():
  counter = 0
  number3 = 3
  while len(str(number3)) < 20:
    number3 **= 2
    counter += 1
  return counter

DTSC 520
DTSC 550
DTSC 575
DTSC 600
DTSC 650